.main{
  background: #fff;
  padding:30px;
  margin: 50px auto;
  max-width: 700px;
  border-radius:4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.main h1{
  font-size: 20px;
  text-align: center;
}

/* Form */
.form{
  margin-top:30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input[type="text"]{
  height:40px;
  padding: 0 20px;
  font-size:20px;
  border:1px solid #ccc;
  min-width: 80%;

}
.form button[type="submit"]{
  border:none;
  height:40px;
  width: 120px;
  background: rgb(8, 212, 8);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  cursor: pointer;
}
.form  .btn_add:hover{
  filter: brightness(0.9);
}
.form .add{
  margin-right: 5px;
}

/* tarefas */
.tarefas{
  margin-top:30px;
}
.tarefas li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 3px 10px 3px;
  font-weight: bold;
  transition: all 600ms;
}
.tarefas li:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
  border-radius: 5px;

}


.tarefas li .edit{
  margin-right: 5px;
}
.tarefas li .delete{
  margin-right: 5px;
}

.tarefas .btn_edit{
  padding:5px;
  color: white;
  background:#025da8;
  border:0;
  cursor: pointer;
}
.tarefas .btn_delete{
  margin-left: 10px;
  padding:5px;
  color: white;
  background:#ce0422;
  border:0;
  cursor: pointer;
}
.tarefas .btn_edit:hover,
.tarefas .btn_delete:hover{
  filter: brightness(0.7);
}

